{% extends 'userpanel/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %} 
    <div class="breadcrumb">
        <ul>
            <li><a href="{% url 'userpanel:index' %}" title="پیشخوان">پیشخوان</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="row bg-white no-gutters font-size-13">
            <div class="title__row">
                <p>درخواست‌های اخیر شما</p>
                <!-- <a class="all-reconcile-text margin-left-20 color-2b4a83" href="{% url 'userpanel:index' %}">نمایش همه درخواست‌ها</a> -->
            </div>
            <div class="table__box">
                <table width="100%" class="table">
                    <thead role="rowgroup">
                    <tr role="row" class="title-row">
                        <th>شناسه</th>
                        <th>نام کاربر</th>
                        <th>آزمون</th>
                        {% comment %} <th>نوع نمونه</th>
                        <th>تعداد نمونه</th> {% endcomment %}
                        <th>تاریخ ثبت درخواست</th>
                        <th>وضعیت</th>
                        <th>عملیات</th> <!-- فیلد جدا برای دانلود پیش فاکتور -->
                        <th>فاکتور</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr role="row">
                            <td>
                                <a href="{% if order.status == 'incomplete' %}{% url 'orders:request_info' order.experiment.id %}{% else %}{% url 'userpanel:laboratory_request_detail' order.id %}{% endif %}">
                                    {{ forloop.counter }}
                                </a>
                            </td>
                            <td>
                                <a href="{% if order.status == 'incomplete' %}{% url 'orders:request_info' order.experiment.id %}{% else %}{% url 'userpanel:laboratory_request_detail' order.id %}{% endif %}">
                                    {{ order.user.profile.first_name }} {{ order.user.profile.last_name }}
                                </a>
                            </td>
                            <td>
                                <a href="{% if order.status == 'incomplete' %}{% url 'orders:request_info' order.experiment.id %}{% else %}{% url 'userpanel:laboratory_request_detail' order.id %}{% endif %}">
                                    {{ order.experiment.test_name }}
                                </a>
                            </td>
                            <td><a href="{% url 'userpanel:laboratory_request_detail' order.id %}">{{ order.created_at|to_jalali }}</a></td>
                            <td>
                                {% if order.status == 'successful' %}
                                    <span class="text-success">پرداخت موفق</span>
                                {% elif order.status == 'failed' %}
                                    <span class="text-danger">پرداخت ناموفق</span>
                                {% elif order.status == 'pending' %}
                                    <span class="text-warning">در حال بررسی</span>
                                {% elif order.status == 'canceled' %}
                                    <span class="text-secondary">لغو شده</span>
                                {% elif order.status == 'ready_for_payment' %}
                                    <span class="text-info">آماده پرداخت</span>
                                {% elif order.status == 'incomplete' %}
                                    <span class="text-muted">تکمیل نشده</span>
                                {% else %}
                                    <span class="text-muted">وضعیت نامشخص</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'userpanel:delete_request' order.id %}" class="item-delete margin-left-10" title="حذف"></a>
                            </td>
                            <td>
                                <a href="{% url 'orders:preinvoice_detail' order.order_code %}" class="item-download" title="دانلود پیش فاکتور">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="download-icon">
                                        <path d="M12 17l-5-5h3V3h4v9h3l-5 5zm0 4c-4.418 0-8-3.582-8-8h2c0 3.313 2.687 6 6 6s6-2.687 6-6h2c0 4.418-3.582 8-8 8z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9">هیچ درخواستی یافت نشد.</td> <!-- تعداد ستون‌ها به 9 تغییر کرد -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}