{% extends 'userpanel/base.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">پرداخت درخواست آزمایش</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">جزئیات درخواست</h5>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <h6>کد سفارش:</h6>
                    <p class="text-muted">{{ object.order_code }}</p>
                </div>
                <div class="col-md-6">
                    <h6>کاربر:</h6>
                    <p class="text-muted">{{ object.user.email }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <h6>آزمایش:</h6>
                    <p class="text-muted">{{ object.experiment.test_name }}</p>
                </div>
                <div class="col-md-6">
                    <h6>تاریخ ثبت درخواست:</h6>
                    <p class="text-muted">{{ object.submission_date }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <h6>وضعیت:</h6>
                    <p class="text-muted">{{ object.status }}</p>
                </div>
                <div class="col-md-6">
                    <h6>تعداد نمونه:</h6>
                    <p class="text-muted">{{ object.sample_count }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <h6>قیمت نهایی:</h6>
                    <p class="text-muted">{{ object.final_price|intcomma }} تومان</p>
                </div>
            </div>
            <form method="POST" action="{% url 'userpanel:process_payment' object.id %}">
                {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <h6>موجودی کیف پول:</h6>
                    <p class="text-muted">{{ profile.wallet_balance|intcomma }} تومان</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="use_wallet" name="use_wallet" value="true" onchange="updatePayableAmount()">
                        <label class="form-check-label" for="use_wallet">
                            از کیف پول استفاده شود
                        </label>
                    </div>
                </div>
            </div>

            <!-- Payable Amount Section -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <h6>مبلغ قابل پرداخت:</h6>
                    <p id="payable_amount" class="text-muted">{{ object.final_price|intcomma}} تومان</p>
                </div>
            </div>

            <div class="text-center mt-4">

                    <button type="submit" class="btn btn-success btn-lg">پرداخت</button>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'userpanel:index' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
    </div>
</div>

<script>
    function updatePayableAmount() {
        const useWalletCheckbox = document.getElementById('use_wallet');
        const walletBalance = {{ profile.wallet_balance}};
        const finalPrice = {{ object.final_price}};
        const payableAmountElement = document.getElementById('payable_amount');

        if (useWalletCheckbox.checked) {
            if (walletBalance >= finalPrice) {
                payableAmountElement.textContent = '0 تومان'; // Full payment from wallet
            } else {
                const amountToPay = (finalPrice - walletBalance);
                payableAmountElement.textContent = amountToPay + ' تومان'; // Remaining amount to pay
            }
        } else {
            payableAmountElement.textContent = finalPrice + ' تومان'; // Full price
        }
    }
</script>
{% endblock %}