{% extends 'base.html' %} {% load blog_tags %} {% load static %} 
{% block content %}
<!-- <div class="uni-banner">
    <div class="container">
        <div class="uni-banner-text">
            <h1>{{ devices.name }}</h1>
            <ul>
                <li><a href="{% url 'website:index' %}">خانه</a></li>
                <li>جزئیات خدمات</li>
            </ul>
        </div>
    </div>
</div> -->

<div class="service details-page ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="details-text-area pr-20">
          <div class="details-page-img">
            <img src="{{ devices.image.url }}" alt="{{ devices.name }}" />
          </div>
          {% if devices.description %}
          <p><strong> توضیحات:</strong> {{ devices.description|safe }}</p>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="sidebar-content pt-30">
            <div class="sidebar-card categories mt-30">
                <h3>{{ devices.name }}</h3>
                <ul>
                    {% if devices.english_name %}
                    <li>
                        <i class="fas fa-angle-double-left"></i>
                        <strong>نام انگلیسی:</strong> {{ devices.english_name }}
                    </li>
                    {% endif %}
    
                    {% if devices.model %}
                    <li>
                        <i class="fas fa-angle-double-left"></i>
                        <strong>مدل:</strong> {{ devices.model }}
                    </li>
                    {% endif %}
    
                    {% if devices.usage %}
                    <li>
                        <i class="fas fa-angle-double-left"></i>
                        <strong>کاربرد:</strong> {{ devices.usage }}
                    </li>
                    {% endif %}
    
                    {% if devices.manufacturer %}
                    <li>
                        <i class="fas fa-angle-double-left"></i>
                        <strong>شرکت سازنده:</strong> {{ devices.manufacturer }}
                    </li>
                    {% endif %}
    
                    {% if devices.country %}
                    <li>
                        <i class="fas fa-angle-double-left"></i>
                        <strong>کشور سازنده:</strong> {{ devices.country }}
                    </li>
                    {% endif %}
    
                    {% if devices.status %}
                    <li>
                        <i class="fas fa-angle-double-left"></i>
                        <strong>وضعیت:</strong> {{ devices.get_status_display }}
                    </li>
                    {% endif %}
                </ul>
            </div>
    
            <!-- {% include 'blog/blog-hours.html' %} -->
        </div>
    </div>
    </div>
  </div>
</div>

<div class="request-button-area pt-30">
  <div class="container">
    <a href="{% url 'devices:index' %}" class="default-button">ثبت درخواست</a>
  </div>
</div>

{% endblock content %}
