{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- <div class="uni-banner">
  <div class="container">
    <div class="uni-banner-text">
      <h1>دستگاه ها</h1>
      <ul>
        <li><a href="{% url 'website:index' %}">خانه</a></li>
        <li>دستگاه ها</li>
      </ul>
    </div>
  </div>
</div> -->

<div class="service service-4 ptb-100">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h6>دستگاه های ما</h6>
      <!-- <h3>ما خدمات خود را با بهترین دستگاه ها ارائه می دهیم</h3> -->
    </div>
    <div class="section-content row">
        {% for device in devices %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="service-card-3">
            <a href="{% url 'devices:single' pk=device.id %}" class="service-card-link">
              <div class="service-card-img-3">
                <img src="{{ device.image.url }}" alt="{{ device.name }}" />
              </div>
              <div class="service-card-text-3">
                <h4>{{ device.name }}</h4>
                <!-- <p>{{ device.services_description|truncatewords_html:45|safe }}</p> -->
                <p><strong>مدل:</strong> {{ device.model }}</p>
                <p><strong>سازنده:</strong> {{ device.manufacturer }}</p>
                <p><strong>وضعیت:</strong> {{ device.get_status_display }}</p>
                <!-- <a class="read-more-btn">بیشتر بدانید</a> -->
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}