{% extends 'userpanel/base.html' %}
{% load static %}
{% block content %}
{% include 'requests/request-head.html' %}
<div class="container p-4 request-page" data-index="1" dir="rtl">
    <div class="bg-white p-4 rounded shadow-lg">
        <h5 class="mb-4 text-primary">آزمایشگاه : {{ experiment.laboratory.name }} </h5>
        <form action="{% url 'orders:request_info' experiment.id %}" method="post">
            {% csrf_token %}
            <div class="row g-3 mb-3">
                <div class="col-md-4">
                    <label for="customerName" class="form-label">نام مشتری:</label>
                    <input type="text" class="form-control bg-light" id="customerName" value="{{full_name}}" readonly>
                </div>
                <div class="col-md-4">
                    <label for="requestDate" class="form-label">تاریخ ثبت درخواست:</label>
                    <input type="text" class="form-control bg-light" id="requestDate" value="{{jalali_date}}" readonly>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">توضیحات</label>
                <textarea  name="description" class="form-control" id="description" rows="2"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" data-index="1" class="page-btn forward-btn btn btn-success px-4 me-2">ثبت و مرحله بعد</button>
                <a href="{% url 'orders:confirm_cancel' user_id=request.user.id experiment_id=experiment.id %}" class="btn btn-danger px-4">انصراف</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
