{% extends "base.html" %}
{% block content %}
<div class="login-container">
  <h2>بازیابی رمز عبور</h2>
  <form method="post" action="{% url 'password_reset' %}" class="login-form">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="id_email">ایمیل</label>
      {{ form.email }} 
      {% if form.email.errors %}
      <div class="error-message">
        {% for error in form.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-success">ارسال لینک بازنشانی</button>
  </form>
  <div class="login-section">
    <br />
    <a href="{% url 'login' %}" class="btn btn-info">بازگشت به ورود</a>
  </div>
</div>
{% endblock %}