{% extends 'userpanel/base.html' %}
{% load static %} 
{% block content %} 
    <div class="breadcrumb">
        <ul>
            <li><a href="{% url 'userpanel:index' %}" title="پیشخوان">پیشخوان</a></li>
          </ul>
    </div>
    <div class="main-content">
        <div class="row bg-white no-gutters font-size-13">
            <div class="title__row">
                <p>تراکنش های اخیر شما</p>
                <a class="all-reconcile-text margin-left-20 color-2b4a83">نمایش همه تراکنش ها</a>
            </div>
            <div class="table__box">
                <table width="100%" class="table">
                    <thead role="rowgroup">
                    <tr role="row" class="title-row">
                        <th>شناسه پرداخت</th>
                        <th>ایمیل پرداخت کننده</th>
                        <th>مبلغ (تومان)</th>
                        <th>درامد شما</th>
                        <th>درامد سایت</th>
                        <th>نام دوره</th>
                        <th>تاریخ و ساعت</th>
                        <th>وضعیت</th>
                        <th>عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row">
                        <td><a href=""> 1</a></td>
                        <td><a href="">admin@netcopy.ir</a></td>
                        <td><a href="">600,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">خرید دوره - دوره متخصص php سطح مقدماتی</a></td>
                        <td><a href=""> 22:14:48 1399/02/23</a></td>
                        <td><a href="" class="text-success">پرداخت موفق</a></td>
                        <td class="i__oprations">
                            <a href="" class="item-delete margin-left-10" title="حذف"></a>
                            <a href="edit-transaction.html" class="item-edit" title='ویرایش'></a>
                        </td>
                    </tr>
                    <tr role="row">
                        <td><a href=""> 1</a></td>
                        <td><a href="">admin@netcopy.ir</a></td>
                        <td><a href="">600,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">خرید دوره - دوره متخصص php سطح مقدماتی</a></td>
                        <td><a href=""> 22:14:48 1399/02/23</a></td>
                        <td><a href="" class="text-error">پرداخت ناموفق</a></td>
                        <td class="i__oprations">
                            <a href="" class="item-delete margin-left-10" title="حذف"></a>
                            <a href="edit-transaction.html" class="item-edit" title='ویرایش'></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
