{% extends 'userpanel/base.html' %}
{% block content %}
{% load humanize %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h2>پرداخت موفق</h2>
        </div>
        <div class="card-body">
            <p class="lead text-center">پرداخت شما با موفقیت انجام شد!</p>
            <p class="text-center">شماره پیگیری: <strong>{{ payment.tracking_code }}</strong></p>
            <p class="text-center">کد درخواست: <strong>{{ payment.laboratory_request.order_code }}</strong></p>
            <p class="text-center">مبلغ پرداخت شده: <strong>{{ payment.amount|intcomma }} تومان</strong></p>
            <div class="text-center">
                <a href="{% url 'userpanel:index' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
            </div>
        </div>
    </div>
</div>


<style>
    .container {
        max-width: 700px;
        margin: auto;
        padding: 20px;
    }
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        background-color: #d4edda;
        color: #155724;
    }
    .lead {
        font-size: 1.5rem;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>
{% endblock %}