.exp {
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl;
    text-align: right;
}

.exp-title {
    color: green;
    text-align: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-section {
    width: 100%;
    color: #333;
    margin-top: 2rem;
}

.section-heading {
    color: #3d3d91;
    border-bottom: 2px solid #ffaa00;
    padding-bottom: 5px;
    display: inline-block;
}

.parameters p {
    margin: 5px 0;
    font-size: 1.2rem;
}

.parameters:has(.parameters-line){
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.parameters-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.parameters .label {
    font-weight: bold;
    color: #3d3d91;
    font-size: 1rem;
}

.parameters-line .label{
    font-size: 1.1rem;
}

.parameters-line p{
    font-size: 1.2rem;
}

.exp a.btn{
    width: 150px;
    padding: 0.5em 0.2em;
    color: white;
    font-size: 1.2rem;
    margin-top: 40px;
    border-radius: 7px;
}
.stepper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #9e9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #9e9e9e;
    margin-bottom: 5px;
}

.line {
    width: 100px;
    height: 2px;
    background-color: #ddd;
    margin-top: 25px;
}

.completed-line {
    background-color: #4caf50;
}

/* Inactive Step */
.step p {
    font-size: 1em;
    color: #9e9e9e;
}

.step .circle {
    color: #9e9e9e;
}

.step .num{
    display: unset;
    margin-top: 0.2rem;
}

.step .completed-mark{
    display: none;
}

/* Active Step */
.active .circle, .step:hover:not(.completed) .circle {
    border-color: #3d3d91;
    color: #3d3d91;
}

.active p {
    color: #3d3d91;
}

/* Completed Step */
.completed .circle {
    background-color: #4caf50;
    border: none;
    color: white;
    font-size: 1.5em;
}

.completed .completed-mark {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.completed p {
    color: #4caf50;
}

.completed .num{
    display: none;
}

.completed .completed-mark{
    display: unset;
}