{% extends 'base.html' %} {% load static %} {% block content %} 
{% load main_tags %}

<!-- -------------------base----------------- -->
{% include 'website/slideshow.html' %}

<div class="about about-1 pt-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div
          class="about-img-area-3"
          style='background-image: url("{{home.aboutـbanner.url}}")'
        >
          <!-- <div class="about-img-list">
<ul>
<li><strong>%100</strong> شرکت مورد اعتماد</li>
<li><strong>460</strong> پروژه تکمیل شده</li>
<li><strong>60</strong> برنده جایزه</li>
<li><strong>200</strong> رضایت مشتریان</li>
</ul>
</div> -->
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="about-text-area pl-20">
          <div class="default-section-title">
            <h6>درباره ما</h6>
            <h3>{{home.aboutـtitle}}</h3>
          </div>
          <p>{{home.about_text|safe|truncatechars:1100}}</p>
          <a
            class="default-button default-button-4"
            href="{% url 'website:about' %}"
            ><span>اطلاعات بیشتر</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ---------------/ -->
{% display_devices %}



{% display_latest_posts %}

<!-- _____________footer__________________ -->
{% endblock content %}
