
{% load static %}
<div class="service ptb-100 bg-f9faff">
    <div class="container">
    <div class="default-section-title default-section-title-middle">
    <h6>دستگاه های آزمایشگاه </h6>
    </div>
    <div class="section-content">
    <div class="row">
        {% for device in devices %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="service-card-3">
                <a href="{% url 'devices:single' pk=device.id %}" class="service-card-link">
                    <div class="service-card-img-3">
                        <img src="{{ device.image.url }}" alt="{{ device.name }}">
                    </div>
                    <div class="service-card-text-3">
                        <h4>{{ device.name }}</h4>
                        <p><strong>نام انگلیسی:</strong> {{ device.english_name }}</p>
                        <p><strong>وضعیت:</strong> {{ device.get_status_display }}</p>
                        <!-- <span class="read-more-btn">بیشتر بدانید</span> -->
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    
</div>
<a class="default-button default-button-3 view-all-btn mt-30" href="{% url 'devices:index' %}"><span>مشاهده همه دستگاه ها</span></a>
    </div>
    </div>
    </div>
    