
{% load static %}
<div class="service ptb-100 bg-f9faff">
    <div class="container">
    <div class="default-section-title default-section-title-middle">
    <h6>دستگاه های آزمایشگاه </h6>
    </div>
    <div class="section-content">
    <div class="row">
        {% for device in devices %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="service-card-3">
                <div class="service-card-img-3">
                    <a href="{% url 'devices:single' pk=device.id %}">
                        <img src="{{ device.image.url }}" alt="{{ device.name }}">
                    </a>
                </div>
                <div class="service-card-text-3">
                    <h4><a href="{% url 'devices:single' pk=device.id %}">{{ device.name }}</a></h4>
                    <p><strong>مدل:</strong> {{ device.model }}</p>
                    <p><strong>وضعیت:</strong> {{ device.get_status_display }}</p>
                    <a class="read-more-btn" href="{% url 'devices:single' pk=device.id %}">بیشتر بدانید</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
    