{% load static %}
<!DOCTYPE html>

<html dir="rtl" lang="fa">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="img/favicon.ico"
        type="image/x-icon" />
    <title>آزمایشگاه مرکزی</title>
    <meta name="developer" content="Architects of Communication Age Company" />

    <base href="{% static '/' %}">

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-rtl.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="fontawesome\css\fontawsome.min.css">
    
    <link href="css/animate.min.css" rel="stylesheet" media="all" />
    <link href="css/yamm.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/sutech-header.css" />
    <link rel="stylesheet" href="css/ratherapp-slideshow.css" />
    <link rel="stylesheet" href="css/anwa-styles.css">
</head>


<body class="home-page-body">
    <section id="one" class="onesection">
        <header>
            <div class="menu-middle">
                <div class="container">
                    <div class="row menu-middle__row">
                        <div class="col-sm-12 col-md-5 logo-box">
                            <a class="hidden-print" href="#">
                                <img class="site-logo img-responsive"
                                    src="img/logo.png" width="85" height="85"
                                    alt="دانشگاه صنعتی شیراز" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 inner-top">
                            <div class="col-sm-5 col-md-6 logo-box-sticky">
                                <a class="hidden-print" href="#"><img
                                        class="site-logo img-responsive" src="img/1674383299-logo-header.png"
                                        width="251" height="85" alt="دانشگاه صنعتی شیراز" /></a>
                            </div>
                            <div class="search-bar-wrapper">
                                <div class="search-bar">
                                    <form action="http://sutech.ac.ir/fa/advanced-search" method="get">
                                        <input type="hidden" name="language" value="fa" />
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default" style="display: flex; align-items: center; justify-content: center; aspect-ratio: 1;">
                                                    <i class="fa fa-search" style="font-size: 12px;"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control" name="SearchForm[searchkey]" />
                                            <input type="hidden" name="SearchForm[searchType]" value="2" />
                                        </div>
                                    </form>
                                </div>
                                <div class="hidden-xs date-line">شنبه ۳۰ تیر ۱۴۰۳</div>
                            </div>
                            <div class="navbar-wrapper clearfix">
                                <nav id="wdbacce5bdf8158ffdd01c7f7531bfbe10"
                                    class="yamm col-xs-12 col-sm-12 col-ls-9 navbar">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#wdbacce5bdf8158ffdd01c7f7531bfbe10-collapse"
                                            aria-expanded="false">
                                            <span class="sr-only">فهرست</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div id="wdbacce5bdf8158ffdd01c7f7531bfbe10-collapse"
                                        class="navbar-collapse collapse in" aria-expanded="false" style="height: 1px">
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="#"
                                                    data-toggle="dropdown" role="button" aria-expanded="false">
                                                    معرفی دانشگاه<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-0">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            نگاه اجمالی</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            اسامی مدیران واحدها</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            وظایف‌ و اختیارات‌ واحدهای دانشگاه</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            لیست رشته‌های تحصیلی</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle"
                                                    href="#"
                                                    data-toggle="dropdown" role="button" aria-expanded="false">
                                                    دانشکده ها<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-2">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            دانشکده ها</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled">
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده ریاضی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی برق</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی شیمی ،نفت و گاز</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی کامپیوتر و فناوری
                                                                                اطلاعات</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی مکانیک</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی صنایع</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی و علم مواد</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی عمران و محیط زیست</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده فیزیک</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="#"
                                                                                target="_self"><i
                                                                                    class="fa fa-angle-right"></i>
                                                                                دانشکده شیمی</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <ul id="wdbacce5bdf8158ffdd01c7f7531bfbe11" class="navbar-nav nav"
                                                style="position: relative">
                                                <li>
                                                    <a
                                                        href="#">پژوهشکده
                                                        ها</a>
                                                </li>
                                            </ul>
                                            
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="#"
                                                    data-toggle="dropdown" role="button" aria-expanded="false">
                                                    تماس با ما<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-6">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            تماس با مسئولین</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            تلفن های داخلی کارکنان و اعضاء هیئت
                                                                            علمی</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="#"
                                                                            target="_self">
                                                                            سامانه ۱۱۱ (رسیدگی به شکایات و
                                                                            پیشنهادات)</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <div class="page animated" style="animation-duration: 500ms">
        <div id="home">
            <section class="section swiper-container swiper-slider swiper-slider-classic swiper-container-vertical"
                data-loop="true" data-autoplay="4859" data-simulate-touch="true" data-direction="vertical"
                data-nav="false">
                <div class="swiper-wrapper text-center" style="
              transform: translate3d(0px, -2226px, 0px);
              transition-duration: 0ms;
            ">
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                        data-slide-bg="img/slider-1-slide-6-1770x742.jpg" data-swiper-slide-index="2" style="
                background-image: url('img/slider-1-slide-6-1770x742.jpg');
                background-size: cover;
                height: 742px;
              ">
                        <div class="swiper-slide-caption section-md">
                            <div class="container">
                                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0" class="not-animated">
                                    Award-Winning Software
                                </h1>
                                <p class="text-width-large not-animated" data-caption-animate="fadeInRight"
                                    data-caption-delay="100">
                                    The software solutions developed by our company have been
                                    numerously awarded for usability and innovative features.
                                </p>
                                <a class="button button-primary button-ujarak not-animated"
                                    href="#" data-toggle="modal"
                                    data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate-next"
                        data-slide-bg="img/slider-1-slide-2-1770x742.jpg" data-swiper-slide-index="0" style="
                background-image: url('img/slider-1-slide-2-1770x742.jpg');
                background-size: cover;
                height: 742px;
              ">
                        <div class="swiper-slide-caption section-md">
                            <div class="container">
                                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0" class="not-animated">
                                    Mobile App Development
                                </h1>
                                <p class="text-width-large not-animated" data-caption-animate="fadeInRight"
                                    data-caption-delay="100">
                                    Since our establishment, we have been delivering
                                    high-quality and sustainable software solutions for
                                    corporate purposes of worldwide businesses.
                                </p>
                                <a class="button button-primary button-ujarak not-animated"
                                    href="#" data-toggle="modal"
                                    data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-prev"
                        data-slide-bg="img/slider-1-slide-4-1770x742.jpg" data-swiper-slide-index="1" style="
                background-image: url('img/slider-1-slide-4-1770x742.jpg');
                background-size: cover;
                height: 742px;
              ">
                        <div class="swiper-slide-caption section-md">
                            <div class="container">
                                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0" class="not-animated">
                                    Experienced Team
                                </h1>
                                <p class="text-width-large not-animated" data-caption-animate="fadeInRight"
                                    data-caption-delay="100">
                                    We are a team of qualified software developers, aimed at
                                    creating unique and powerful tools for your business &amp;
                                    everyday life.
                                </p>
                                <a class="button button-primary button-ujarak not-animated"
                                    href="#" data-toggle="modal"
                                    data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active"
                        data-slide-bg="img/slider-1-slide-6-1770x742.jpg" data-swiper-slide-index="2" style="
                background-image: url('img/slider-1-slide-6-1770x742.jpg');
                background-size: cover;
                height: 742px;
              ">
                        <div class="swiper-slide-caption section-md">
                            <div class="container">
                                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0"
                                    class="fadeInLeft animated">
                                    Award-Winning Software
                                </h1>
                                <p class="text-width-large fadeInRight animated" data-caption-animate="fadeInRight"
                                    data-caption-delay="100">
                                    The software solutions developed by our company have been
                                    numerously awarded for usability and innovative features.
                                </p>
                                <a class="button button-primary button-ujarak fadeInUp animated"
                                    href="#" data-toggle="modal"
                                    data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-next"
                        data-slide-bg="img/slider-1-slide-2-1770x742.jpg" data-swiper-slide-index="0" style="
                background-image: url('img/slider-1-slide-2-1770x742.jpg');
                background-size: cover;
                height: 742px;
              ">
                        <div class="swiper-slide-caption section-md">
                            <div class="container">
                                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0" class="not-animated">
                                    Mobile App Development
                                </h1>
                                <p class="text-width-large not-animated" data-caption-animate="fadeInRight"
                                    data-caption-delay="100">
                                    Since our establishment, we have been delivering
                                    high-quality and sustainable software solutions for
                                    corporate purposes of worldwide businesses.
                                </p>
                                <a class="button button-primary button-ujarak not-animated"
                                    href="#" data-toggle="modal"
                                    data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Pagination-->
                <div class="swiper-pagination__module">
                    <div class="swiper-pagination__fraction">
                        <span class="swiper-pagination__fraction-index">03</span><span
                            class="swiper-pagination__fraction-divider">/</span><span
                            class="swiper-pagination__fraction-count">03</span>
                    </div>
                    <div class="swiper-pagination__divider"></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet"></span><span
                            class="swiper-pagination-bullet"></span><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="footer footer-2 ptb-100 bg-000000">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-logo-area">
                        <a href="#"><img src="img/logo.png" alt="image"></a>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به سادگی ساختار چاپ و متن
                            را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                        <div class="footer-social-icons">
                            <span>دنبال کنید:</span>
                            <ul>
                                <li><a href="https://www.facebook.com/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.linkedin.com/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-links footer-contact-list">
                        <h3>اطلاعات تماس</h3>
                        <div class="footer-content-card">
                            <i class="fas fa-map-marker-alt"></i>
                            <h5>موقعیت:</h5>
                            <p><a href="#">ایران، استان تهران، میدان آزادی</a></p>
                        </div>
                        <div class="footer-content-card">
                            <i class="fas fa-envelope"></i>
                            <h5>ایمیل:</h5>
                            <p><a href="mailto: me@example.com"> support@anwa.com</a></p>
                        </div>
                        <div class="footer-content-card">
                            <i class="fas fa-mobile-alt"></i>
                            <h5>تلفن:</h5>
                            <p><a href="tel:+13454567877">+1-3454-5678-77</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-links footer-quick-links">
                        <h3>لینک های سریع</h3>
                        <ul>
                            <li><a href="about.html" target="_blank"><i class="fas fa-angle-left"></i> <span>درباره
                                        ما</span></a></li>
                            <li><a href="services.html" target="_blank"><i class="fas fa-angle-left"></i> <span>خدمات
                                        ما</span></a></li>
                            <li><a href="team.html" target="_blank"><i class="fas fa-angle-left"></i> <span>تیم
                                        ما</span></a></li>
                            <li><a href="blog.html" target="_blank"><i class="fas fa-angle-left"></i> <span>وبلاگ
                                        ما</span></a></li>
                            <li><a href="contact.html" target="_blank"><i class="fas fa-angle-left"></i> <span>تماس با
                                        ما</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-links footer-newsletter">
                        <h3>خبرنامه</h3>
                        <p>برای دریافت اخبار به روز ما در خبرنامه ما مشترک شوید!</p>
                        <form>
                            <input type="text" class="form-control" placeholder="ایمیل شما">
                            <button class="default-button" type="submit"><span>ارسال</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright bg-000000">
        <div class="container">
            <p>کپی رایت @
                <script>document.write(new Date().getFullYear())</script>.
                 تمامی حقوق متعلق به <a href="https://sutech.ac.ir" target="_blank">دانشگاه صنعتی شیراز</a>
                  می&#8204باشد.
            </p>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-hover-dropdown.js" async="async"></script>

    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>