<!DOCTYPE html>
{% load static %}

<html dir="rtl" lang="fa">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="http://sutech.ac.ir/file/download/website/653e2c6e4dc5d-untitled-1.ico"
        type="image/x-icon" />
    <title>دانشگاه صنعتی شیراز</title>
    <meta property="og:title" content="دانشگاه صنعتی شیراز" />
    <meta property="og:image"
        content="http://www.sutech.ac.ir/images/www/fa/website/open-graph/2023/1674383299-logo-header.png?language=fa" />
    <meta property="og:site_name" content="دانشگاه صنعتی شیراز" />
    <meta name="developer" content="Architects of Communication Age Company" />
    <meta name="theme-name" content="sutech" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome-rtl.css' %}" rel="stylesheet" />
    <link href="{% static 'css/yamm.css' %}" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="{% static 'css/sutech_header.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/sutech_header_purged.css' %}">
</head>

<body class="home-page-body">
    <section id="one" class="onesection">
        <header>
            <div class="menu-middle">
                <div class="container">
                    <div class="row menu-middle__row">
                        <div class="col-sm-12 col-md-5 logo-box">
                            <a class="hidden-print" href="http://sutech.ac.ir/fa"><img class="site-logo img-responsive"
                                    src="{% static 'img/1674383299-logo-header.png' %}" width="251" height="85"
                                    alt="دانشگاه صنعتی شیراز" /></a>
                        </div>
                        <div class="col-sm-12 col-md-7 menu-middle__1">
                            <div class="row">
                                <div class="col-md-12 hidden-xs">
                                    <a class="hidden-print site-logo-second" href="http://sutech.ac.ir/fa"><img
                                            class="img-responsive" alt="" /></a>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-10 e-services-wrapper">
                                        <span class="e-services-toggle">
                                            <i class="fa fa-caret-down"></i> خدمات
                                        </span>
                                        <!-- SimpleMenu -->
                                    </div>
                                    <div class="service-wrapper col-md-2 p-x-0">
                                        <!-- SimpleMenu -->

                                        <div class="menu-widget-simple widget">
                                            <ul class="list-inline list-unstyled">
                                                <li class="medium-font normal-font-weight">
                                                    <a class=" " href="https://en.sutech.ac.ir/"
                                                        target="_self">ENGLISH</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 inner-top">
                            <div class="col-sm-5 col-md-6 logo-box-sticky">
                                <a class="hidden-print" href="http://sutech.ac.ir/fa"><img
                                        class="site-logo img-responsive"
                                        src="{% static 'img/1674383299-logo-header.png' %}" width="251" height="85"
                                        alt="دانشگاه صنعتی شیراز" /></a>
                            </div>
                            <div class="search-bar-wrapper">
                                <div class="search-bar">
                                    <form action="http://sutech.ac.ir/fa/advanced-search" method="get">
                                        <input type="hidden" name="language" value="fa" />
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control" name="SearchForm[searchkey]" />
                                            <input type="hidden" name="SearchForm[searchType]" value="2" />
                                        </div>
                                    </form>
                                </div>
                                <div class="hidden-xs date-line">سه شنبه ۰۲ مرداد ۱۴۰۳</div>
                            </div>
                            <div class="navbar-wrapper clearfix">
                                <nav id="wdbacce5bdf8158ffdd01c7f7531bfbe10" class="yamm col-xs-12 col-sm-12 col-ls-9 navbar">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wdbacce5bdf8158ffdd01c7f7531bfbe10-collapse" aria-expanded="false">
                                            <span class="sr-only">فهرست</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div id="wdbacce5bdf8158ffdd01c7f7531bfbe10-collapse" class="navbar-collapse collapse in" aria-expanded="false" style="height: 1px;">
                                        <!-- MegaMenu -->

                                        <ul class="nav navbar-nav">
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="http://sutech.ac.ir/fa/page/2" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    معرفی دانشگاه<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-0">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/3/%D9%86%DA%AF%D8%A7%D9%87-%D8%A7%D8%AC%D9%85%D8%A7%D9%84%DB%8C" target="_self">
                                                                            نگاه اجمالی</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/4/%D8%A7%D8%B3%D8%A7%D9%85%DB%8C-%D9%85%D8%AF%DB%8C%D8%B1%D8%A7%D9%86-%D9%88%D8%A7%D8%AD%D8%AF%D9%87%D8%A7" target="_self">
                                                                            اسامی مدیران واحدها</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/5/%D9%88%D8%B8%D8%A7%DB%8C%D9%81-%D9%88-%D8%A7%D8%AE%D8%AA%DB%8C%D8%A7%D8%B1%D8%A7%D8%AA-%D9%88%D8%A7%D8%AD%D8%AF%D9%87%D8%A7%DB%8C-%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87" target="_self">
                                                                            وظایف‌ و اختیارات‌ واحدهای دانشگاه</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/major" target="_self">
                                                                            لیست رشته‌های تحصیلی</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="http://sutech.ac.ir/fa" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    واحدهای ستادی<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-1">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/21/%D9%85%D8%B9%D8%A7%D9%88%D9%86%D8%AA-%D9%87%D8%A7" target="_self">
                                                                            معاونت ها</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled">
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/vice-chancello/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                معاونت آموزشی و تحصیلات تکمیلی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/faa/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                معاونت اداری و مالی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/saa/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                معاونت دانشجوئی و فرهنگی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/res/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                معاونت پژوهش و فناوری</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/22/%D9%85%D8%AF%DB%8C%D8%B1%DB%8C%D8%AA-%D9%87%D8%A7" target="_self">
                                                                            مدیریت ها</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled">
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/faa/fa/page/321" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت امور اداری</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/faa/fa/page/329" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت امور مالی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/education/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت آموزش و تحصیلات تکمیلی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/ictc" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت فناوری اطلاعات</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/saa/fa/page/290" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت امور دانشجوئی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/saa/fa/page/291" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت امور فرهنگی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://ent.sutech.ac.ir/" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت فناوری و کارآفرینی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت برنامه ریزی، تحول اداری و امور
                                                                                سرمایه گذاری</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/industry/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت ارتباط با صنعت</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/des/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت طرح و توسعه</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/23/%D8%A7%D8%AF%D8%A7%D8%B1%D9%87-%D9%87%D8%A7" target="_self">
                                                                            اداره ها</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled">
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/ictc/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                مدیریت فناوری و اطلاعات و ارتباطات</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="https://nahad.sutech.ac.ir/" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دفتر نهاد رهبری</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/sci/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                گروه همکاری های علمی و بین المللی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/saa/fa/page/289" target="_self"><i class="fa fa-angle-right"></i>
                                                                                اداره تربیت بدنی</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="http://sutech.ac.ir/fa/page/7/%D8%AF%D8%A7%D9%86%D8%B4%DA%A9%D8%AF%D9%87-%D9%87%D8%A7" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    دانشکده ها<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-2">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/14/%D9%84%DB%8C%D8%B3%D8%AA-%D8%AF%D8%A7%D9%86%D8%B4%DA%A9%D8%AF%D9%87-%D9%87%D8%A7" target="_self">
                                                                            دانشکده ها</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled">
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/math/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده ریاضی</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/eee/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی برق</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/cpg/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی شیمی ،نفت و گاز</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/itc/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی کامپیوتر و فناوری
                                                                                اطلاعات</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/mae/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی مکانیک</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/ien/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی صنایع</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/mse/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی و علم مواد</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/cee/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده مهندسی عمران و محیط زیست</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/phy/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده فیزیک</a>
                                                                        </li>
                                                                        <li class="grandChild">
                                                                            <a href="http://sutech.ac.ir/che/fa" target="_self"><i class="fa fa-angle-right"></i>
                                                                                دانشکده شیمی</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <ul id="wdbacce5bdf8158ffdd01c7f7531bfbe11" class="navbar-nav nav" style="position: relative">
                                                <li>
                                                    <a href="http://sutech.ac.ir/fa/page/34/%D9%BE%DA%98%D9%88%D9%87%D8%B4%DA%A9%D8%AF%D9%87-%D9%87%D8%A7">پژوهشکده
                                                        ها</a>
                                                </li>
                                            </ul>
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="http://sutech.ac.ir/fa/page/36/%D9%BE%DB%8C%D9%88%D9%86%D8%AF%D9%87%D8%A7" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    پیوندها<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-4">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://otc.sutech.ac.ir/kahad/" target="_self">
                                                                            دوره های مهارتی متناسب با نیاز بازار
                                                                            کار</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/298/%DA%AF%D8%B2%D8%A7%D8%B1%D8%B4-%D8%B9%D9%85%D9%84%DA%A9%D8%B1%D8%AF-%D9%87%D8%B4%D8%AA-%D8%B3%D8%A7%D9%84%D9%87-%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87-%D8%AF%D8%B1-%D8%AF%D9%88%D9%84%D8%AA-%D9%87%D8%A7%DB%8C-%DB%8C%D8%A7%D8%B2%D8%AF%D9%87%D9%85-%D9%88-%D8%AF%D9%88%D8%A7%D8%B2%D8%AF%D9%87%D9%85" target="_self">
                                                                            گزارش عملکرد هشت ساله دانشگاه در دولت
                                                                            های یازدهم و دوازدهم</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://farsi.khamenei.ir/" target="_self">
                                                                            دفتر مقام معظم رهبری</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://www.president.ir/fa/" target="_self">
                                                                            دفتر ریاست جمهوری</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://www.msrt.ir/fa/pages/Home.aspx" target="_self">
                                                                            وزارت علوم ،تحقیقات و فناوری</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://karamouz.irost.ir/" target="_self">
                                                                            سامانه جایابی کارآموزان</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://www.labbaik.ir/" target="_self">
                                                                            ثبت نام عتبات دانشگاهیان</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://insf.org/fa" target="_self">
                                                                            صندوق حمایت از پژوهشگران و فناوران
                                                                            کشور</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="http://sutech.ac.ir/fa/page/264/%D8%B3%D8%A7%D9%85%D8%A7%D9%86%D9%87-%D9%87%D8%A7%DB%8C-%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    سامانه های دانشگاه<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-5">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://office.sutech.ac.ir/" target="_self">
                                                                            اتوماسیون اداری</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://golestan.sutech.ac.ir/home/Default.htm" target="_self">
                                                                            سامانه گلستان</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://ticket.sutech.ac.ir/" target="_self">
                                                                            میز خدمت مرکز فناوری اطلاعات</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://moodle.sutech.ac.ir/" target="_self">
                                                                            سامانه مدیریت یادگیری</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://taghziyeh.sutech.ac.ir/" target="_self">
                                                                            اتوماسیون تغذیه</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://mail.sutech.ac.ir/" target="_self">
                                                                            پست الکترونیک</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://newlib.sutech.ac.ir/faces/home.jspx" target="_self">
                                                                            کتابخانه</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="https://employee.sutech.ac.ir/Hermes" target="_self">
                                                                            سامانه اداری و مالی</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown yamm-fw">
                                                <a class="dropdown-toggle" href="http://sutech.ac.ir/fa" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    تماس با ما<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <div class="yamm-content yamm-content-6">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/17/%D8%AA%D9%85%D8%A7%D8%B3-%D8%A8%D8%A7-%D9%85%D8%B3%D8%A6%D9%88%D9%84%DB%8C%D9%86" target="_self">
                                                                            تماس با مسئولین</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://tel.sutech.ac.ir/" target="_self">
                                                                            تلفن های داخلی کارکنان و اعضاء هیئت
                                                                            علمی</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-4 vertical-menu">
                                                                    <h4>
                                                                        <a href="http://sutech.ac.ir/fa/page/20/%D8%B3%D8%A7%D9%85%D8%A7%D9%86%D9%87-%DB%B1%DB%B1%DB%B1-%D8%B1%D8%B3%DB%8C%D8%AF%DA%AF%DB%8C-%D8%A8%D9%87-%D8%B4%DA%A9%D8%A7%DB%8C%D8%A7%D8%AA-%D9%88-%D9%BE%DB%8C%D8%B4%D9%86%D9%87%D8%A7%D8%AF%D8%A7%D8%AA-" target="_self">
                                                                            سامانه ۱۱۱ (رسیدگی به شکایات و
                                                                            پیشنهادات)</a>
                                                                    </h4>
                                                                    <ul class="list-unstyled"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-hover-dropdown.js' %}" async="async"></script>
</body>

</html>