<div class="portfolio shape-bg ptb-100">
  <div class="container">
    <div class="default-section-title">
      <h6>نمونه کارهای ما</h6>
      <h3>ما بهترین خدمات را ارائه می دهیم</h3>
    </div>
    <div class="section-content">
      <div class="portfolio-slider-area owl-carousel">
        <div class="portfolio-card">
          <img src="assets/images/portfolio/p1.jpg" alt="image" />
          <div class="portfolio-text">
            <p>نظافت دفتر کار</p>
            <h4><a href="service-details.html">دفتر بازرگانی</a></h4>
          </div>
        </div>
        <div class="portfolio-card">
          <img src="assets/images/portfolio/p2.jpg" alt="image" />
          <div class="portfolio-text">
            <p>نظافت صنعتی</p>
            <h4><a href="service-details.html">طبقه تولیدی</a></h4>
          </div>
        </div>
        <div class="portfolio-card">
          <img src="assets/images/portfolio/p3.jpg" alt="image" />
          <div class="portfolio-text">
            <p>نظافت پارکینگ</p>
            <h4><a href="service-details.html">پارکینگ خانه</a></h4>
          </div>
        </div>
        <div class="portfolio-card">
          <img src="assets/images/portfolio/p4.jpg" alt="image" />
          <div class="portfolio-text">
            <p>نظافت اتاق</p>
            <h4><a href="service-details.html">تمیز کردن کف</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
