<!-- templates/request_list.html -->

<h2>Request List</h2>
<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Experiment</th>
        <th>Submission Date</th>
        <th>Actions</th>
    </tr>
    {% for request in requests %}
    <tr>
        <td>{{ request.id }}</td>
        <td>{{ request.RequestInfo.user }}</td>
        <td>{{ request.RequestInfo.experiment }}</td>
        <td>{{ request.RequestInfo.submission_date }}</td>
        <td>
            <a href="{% url 'request_update' request.id %}">Edit</a>
            <a href="{% url 'request_delete' request.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'create_request' %}">Create New Request</a>