<!-- templates/request_form.html -->

<form method="post">
    {% csrf_token %}
    
    <h2>Request Information</h2>
    <p>User: {{ first_name }} {{ last_name }}</p>  <!-- نمایش نام و نام خانوادگی کاربر -->
    <p>Experiment: {{ experiment.name }}</p>  <!-- نمایش نام آزمایش -->
    {{ request_info_form.as_p }}
    
    <h2>Sample Information</h2>
    {{ sample_info_form.as_p }}
    
    <h2>Experiment Information</h2>
    {{ experiment_info_form.as_p }}
    
    <h2>Additional Information</h2>
    {{ additional_info_form.as_p }}
    
    <h2>Discount Information</h2>
    {{ discount_info_form.as_p }}
    
    <button type="submit">Submit Request</button>
</form>