<div class="container p-4 request-page" data-index="4" dir="rtl" style="display: none;">
    <div class="bg-white p-4 rounded shadow-lg">
        بخش چهارم
        <div class="text-center">
            <button data-index="4" class="page-btn backward-btn btn btn-outline-primary px-4 me-2">مرحله قبل</button>
            <button data-index="4" class="page-btn complete-btn btn btn-success px-4 me-2">اتمام و ثبت درخواست</button>
            <button type="button" class="btn btn-danger px-4">انصراف</button>
        </div>
    </div>
</div>

<div class="position-fixed top-0 start-0 p-3" style="z-index: 213">
    <div id="step-warning" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000"
        data-bs-animation="false">
        <div class="toast-body bg-warning text-dark d-flex justify-content-between align-items-center">
            مرحله قبل هنوز تکمیل نشده
            <button type="button" class="btn-close bg-light" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
