{% extends 'userpanel/base.html' %}
{% include 'requests/request-head.html' %}

{% block content %}
{% include 'requests/request-head.html' %}

<div class="container my-5">
  <div class="card shadow-lg border-0 rounded-3">
    <div class="card-header bg-gradient-primary text-white text-center py-4 rounded-top">
      <h2 class="mb-0">فرم اطلاعات تخفیف</h2>
    </div>
    <div class="card-body p-5">
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="form-check mb-4">
          {{ form.is_faculty_member }}
          <label class="form-check-label" for="{{ form.is_faculty_member.id_for_label }}">عضو هیئت علمی هستید؟</label>
        </div>

        <div class="form-check mb-4">
          {{ form.is_student_or_staff }}
          <label class="form-check-label" for="{{ form.is_student_or_staff.id_for_label }}">دانشجو یا کارمند دانشگاه هستید؟</label>
        </div>

        <div class="form-check mb-4">
          {{ form.is_affiliated_with_institution }}
          <label class="form-check-label" for="{{ form.is_affiliated_with_institution.id_for_label }}">متقاضی استفاده از تخفیف نهادهای طرف قرارداد هستید؟</label>
        </div>

        <div class="form-floating mb-4">
          {{ form.discount_institution_name }}
          <label for="{{ form.discount_institution_name.id_for_label }}">نام نهاد تخفیف</label>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success rounded-pill px-5 py-2 shadow-sm">ثبت</button>
          <a href="#" class="btn btn-lg btn-outline-danger rounded-pill px-5 py-2 shadow-sm ms-3">انصراف</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
