<div class="stepper">
    <div class="step" data-index="1">
        <div class="circle">
            <span class="completed-mark">✔</span>
            <span class="num">1</span>
        </div>
        <p>اطلاعات درخواست</p>
    </div>
    <div class="line" data-index="1"></div>
    <div class="step" data-index="2">
        <div class="circle">
            <span class="completed-mark">✔</span>
            <span class="num">2</span>
        </div>
        <p>اطلاعات نمونه</p>
    </div>
    <div class="line" data-index="2"></div>
    <div class="step" data-index="3">
        <div class="circle">
            <span class="completed-mark">✔</span>
            <span class="num">3</span>
        </div>
        <p>اطلاعات آزمون</p>
    </div>
    <div class="line" data-index="3"></div>
    <div class="step" data-index="4">
        <div class="circle">
            <span class="completed-mark">✔</span>
            <span class="num">4</span>
        </div>
        <p>اطلاعات تکمیلی</p>
    </div>
</div>
