<div class="container p-4 request-page" data-index="3" dir="rtl" style="display: none;">
    <div class="bg-white p-4 rounded shadow-lg">
        بخش سوم
        <div class="text-center">
            <button data-index="3" class="page-btn backward-btn btn btn-outline-primary px-4 me-2">مرحله قبل</button>
            <button data-index="3" class="page-btn forward-btn btn btn-success px-4 me-2">ثبت و مرحله بعد</button>
            <button type="button" class="btn btn-danger px-4">انصراف</button>
        </div>
    </div>
</div>
